.form {
  height: 90vh;
  padding: 0px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 192, 192, 0.05);

  input {
    padding: 15px 20px;
  }

  span {
    color: red;
    position: absolute;
    padding: auto;
  }

  button {
    width: 250px;
    height: 50px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  label {
    margin-top: 20px;
  }
}
